<h2>Eventos</h2>
<hr>

<form action="" class="form-inline">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Buscar">
    <button class="btn btn-outline-secondary" type="button">Buscar</button>
  </div>

</form>
<table class="table tabel-striped">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th><button class="btn btn-outline-light btn-sm"
        (click)="showImage()" >
        {{!isVisible ? 'Exibir' : 'Ocultar'}}
      </button></th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos">
    <tr *ngFor="let evento of eventos">
      <td>{{evento.eventoId}}</td>
      <td  >
        <img *ngIf="isVisible"
        src="/assets/{{evento.imagemUrl}}"
        [style.width.px]="widthImg"
        [style.margin.px]=""marginImg>
      </td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento cadastrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
