<app-titulo [titulo]="'Evento'"></app-titulo>
<hr>

<div class="form-inline">
  <div class="input-group mb-3">
    <label class="m-2">Filtro: </label>
    <input type="text"
    class="form-control"
    placeholder="Buscar"
    [(ngModel)]="filtro"
    >
  </div>

</div>
<table class="table tabel-striped">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th><button class="btn btn-outline-light btn-sm"
        (click)="showImage()" >
        {{!isVisible ? 'Exibir' : 'Ocultar'}}
      </button></th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>{{evento.id}}</td>
      <td  >
        <img *ngIf="isVisible"
        src="/assets/{{evento.imagemUrl}}"
        [style.width.px]="widthImg"
        [style.margin.px]=""marginImg>
      </td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimeFormat}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lotes[0].nome}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm m-2" tooltip="Editar">
          <i class="fa fa-edit"></i>
          Editar
        </button>
        <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
          <i class="fa fa-trash"></i>
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento cadastrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer deletar esse evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
