<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

<div class="col-md-6">
<form class="p-1" [formGroup]="form">
	<div class="pb-2 d-block d-md-none">
		<h3 class="border-bottom">Cadastro de Usuário</h3>
	</div>
	<div class="row">
		<div class="form-group col-sm-6">
			<label>Primeiro Nome</label>
			<input type="text" class="form-control"
      [ngClass]="{'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched }"
      formControlName="primeiroNome" placeholder="Insira o Primeiro nome" />
      <div *ngIf="f.primeiroNome.errors?.required" class="invalid-feedback">
        Primeiro nome é obrigatório
      </div>
		</div>
		<div class="form-group col-sm-6">
			<label>Último nome</label>
			<input type="text" class="form-control"
      [ngClass]="{'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched }"
      formControlName="ultimoNome" placeholder="Insira o Último nome" />
      <div *ngIf="f.ultimoNome.errors?.required" class="invalid-feedback">
        Ultimo nome é obrigatório
      </div>
		</div>
	</div>
	<div class="form-group">
		<label for="">Email:</label>
		<input class="form-control" type="text" formControlName="email"
    [ngClass]="{'is-invalid': f.email.errors && f.email.touched }"
    placeholder="Insira o e-mail" />
    <div *ngIf="f.email.errors?.required" class="invalid-feedback">
      O email é obrigatório
    </div>
    <div *ngIf="f.email.errors?.email" class="invalid-feedback">
      O e-mail deve ser valido.
    </div>
	</div>
	<div class="form-group">
		<label for="">Usuario:</label>
		<input class="form-control" type="text"
    [ngClass]="{'is-invalid': f.userName.errors && f.userName.touched }"
    formControlName="userName" placeholder="Insira o nome de Usuário" />
    <div *ngIf="f.userName.errors?.required" class="invalid-feedback">
      O usuario é obrigatório.
    </div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6">
			<label for="">Senha:</label>
			<input class="form-control" type="password"
      [ngClass]="{'is-invalid': f.senha.errors && f.senha.touched }"
      formControlName="senha" placeholder="Digite uma Senha" />
      <div *ngIf="f.senha.errors?.required" class="invalid-feedback">
        A senha é obrigatória.
      </div>
      <div *ngIf="f.senha.errors?.minlength" class="invalid-feedback">
        A senha deve ter no minimo 6 caracteres.
      </div>
		</div>
		<div class="form-group col-sm-6">
			<label for="">Confirmar Senha:</label>
			<input class="form-control" type="password"
      [ngClass]="{'is-invalid': f.confirmeSenha.errors && f.confirmeSenha.touched }"
      formControlName="confirmeSenha" placeholder="Confirme a Senha" />
      <div *ngIf="f.confirmeSenha.errors?.required" class="invalid-feedback">
        A confirmação de senha é obrigatória.
      </div>
      <div *ngIf="f.confirmeSenha.errors?.mustMatch" class="invalid-feedback">
        As senhas devem ser iguais.
      </div>
		</div>
	</div>
	<div class="row p-1 mb-3">
		<div class="custom-control custom-checkbox">
			<input type="checkbox" class="custom-control-input" id="customCheck1">
			<label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-12">
			<button class="btn btn-lg btn-success btn-block px-5">
				Registar
			</button>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-12">
			<a class="btn btn-link btn-block">
				Já sou Cadastrado
			</a>
		</div>
	</div>
</form>

	</div>
</div>
